*{
    margin: 0px;
    padding: 0px;
}
.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.menu{
    display: flex;
    justify-content: center;
}